
{% macro render_post(post) %}
<div class="post">
<h5 class="postDate"><abbr class="published">{{ post.date|human_readable_date }}</abbr></h5>
<div class="postContent">
    <h3 class="entry-title">
    <a href="{{ post.absolute_url }}">{{ post.title }}</a></h3>
    {%- if post.tags is defined %}
    <div class="tags">{% for tag in post.tags %}{% if not loop.first %}, {% endif %}<a href="/tag/{{ tag }}/">#{{ tag }}</a>{% endfor %}</div>
    {%- endif %}
    <div class="entry-content">{{ post.content }}</div>
</div>
</div>



{% endmacro %}
