<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Time To Rest - Django example.{{ title }}</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/highlight.css" type="text/css" />
<script type="text/javascript" src="/static/js/highlight.js"></script>
<script type="text/javascript">
initHighlightingOnLoad();
</script>

</head>

<body>
<div id="wrap">

<div id="header"><img src="/static/images/header.jpg" width="768" height="120" alt="Time To Rest" /></div>

<div id="navigation">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/forms/">Forms</a></li>
<li><a href="/selfcode/">Selfcode</a></li>
<li><a href="/dynamic/">Dynamic</a></li>
</ul>
</div>

<div id="content">
{% block content %}
<h1>Django example</h1>
<p>Some content in base template.</p>
<p>This text must be visible only in root page, other pages overwite it</p>
{% endblock %}
</div>
<div id="footer"><a href="http://www.pyobject.ru/blog/post/the-webframeworks-roundup-django-the-calibration-point/">Yury Yurevich</a> | Designed by <a href="http://http://ginger-ninja.net/">Donny Burnside</a></div>

</div>
</body>
</html>
